{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sniply Registration</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="{% static 'js/register.js' %}"></script>
</head>
<body>
  <div class="registerFormContainer">
      <form method="post">
          {% csrf_token %}
          <h1>Sniply</h1>
          {{ form.as_p }}
          <button>Register</button>
      </form>
      <div class="login">
        <span>Already have an Account ?</span>
        <a href="{% url 'login' %}">Login</a>
     </div>
  </div>
</body>
</html>