{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Sniply</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static '/codemirror/codemirror/codemirror-5.65.15/lib/codemirror.js' %}"></script>
    <link
      rel="stylesheet"
      href="{% static 'codemirror/codemirror/codemirror-5.65.15/lib/codemirror.css' %}"
    />
    <script src="{% static 'codemirror/codemirror/codemirror-5.65.15/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'codemirror/codemirror/codemirror-5.65.15/mode/clike/clike.js' %}"></script>
    <script src="{% static 'codemirror/codemirror/codemirror-5.65.15/mode/python/python.js' %}"></script>
    {% block head_content %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="logo">Logo</div>
        <div class="navigation-links">
            <div>Home</div>
            <div>Profile</div>
        </div>
        <div class="logout">
            <button><a href="{% url 'logout' %}">Logout</a></button>
        </div>
    </nav>
    <div class="dynamic-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>